#dv-close-button label {
  position: absolute;
  left: 10px;
}

#button-close-icon {
  width: 32px;
  height: 40px;
}

#button-close-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#button-close-icon span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#button-close-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 32px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  top: 20px;
}
