.tour-img-small {
  width: 90px;
  height: 60px;
  border: solid #d8d8d8 1px;
  display: table-cell;
  margin: 0px;
}

#dv-tour-item {
  width: calc(100% - 10px);
  height: 60px;
  border-bottom: solid #d8d8d8 1px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  color: unset;
  text-decoration: unset;
  padding-left: 10px;
}

.tour-arrow {
  width: 20px;
  height: 20px;
  border-top: solid #7a7a7a 2px;
  border-right: solid #7a7a7a 2px;
  transform: rotate(45deg);
  display: flex;
}

#dv-tour-item .tour-item {
  width: calc(100vw - 60px);
  display: table;
  height: 60px;
}

#dv-tour-item .tour-item p{
  display: table-cell;    
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  font-size: 14px;
}