#dv-main-buttons {
  display: flex;
}

#dv-main-buttons .dv-button {
  width: 35%;
  margin-left: 10%;
  margin-bottom: 20px;
  height: 200px;
}
/*
#dv-main-buttons a {
  width: 35%;
  margin-left: 10%;
  margin-bottom: 20px;
  height: 200px;
  text-decoration: none;
}*/

div.blank {
  width: 100%;
  height: 20px;
}