#dv-footer {
  --footer-center-width: 80px;
  --footer-height: 60px;
  --footer-side-width: calc(100vw - var(--footer-center-width));
  --footer-item-width: calc(var(--footer-side-width) * 0.25);
}

#dv-footer {
  width: calc(100vw);
  height: var(--footer-height);
  background: transparent;
  position: fixed;
  bottom: 0;
  left: -1px;
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/

  display: flex;
}

#dv-footer .frame {
  width: calc(var(--footer-side-width) * 0.5);
  height: var(--footer-height);
  position: relative;
  bottom: 0px
}

#dv-footer .left {
  background-image: url('resources/side.png');
}

#dv-footer .center {
  width: var(--footer-center-width);
  background-size: 100% 85px;
  background-image: url('resources/center.png');
}

#dv-footer .right {
  background-image: url('resources/side.png');
}

#dv-footer .button {
  background-color: cadetblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  left: 15px;
  bottom: 22px;
  text-align: center;        
  box-shadow: 2px 3px 1px 2px #00000061;
}

#dv-footer .button a {
  line-height: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #00000061;
}

#dv-footer .bottom-button {    
  text-decoration: none;
  line-height: 60px;
  width: var(--footer-item-width);
  font-size: 40px;
  text-align: center;
  color: #3c3c3c;
  -webkit-tap-highlight-color: transparent;
}
#dv-footer .bottom-button.on {
  border-bottom: 5px solid black;
  color: black;
}

#dv-footer div.selector {
  width: var(--footer-item-width);
  position: absolute;
  background: #3c3c3c;
  height: 5px;
  bottom: 0px;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#dv-footer div.selector.home {
  left: 0px;
}

#dv-footer div.selector.game {
  left: var(--footer-item-width);
}

#dv-footer div.selector.tour {
  left: none;
  right: var(--footer-item-width);
}